@model TruckVM

<partial name="_Message" />

<div class="col-xl">
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Update truck</h5>
        </div>
        <div class="card-body">
            <form asp-controller="Truck" asp-action="Update">
                <input type="hidden" asp-for="TruckID" />
                <input type="hidden" asp-for="ToolboxID" />
                <input type="hidden" asp-for="isDeleted" />
                <input type="hidden" asp-for="CompanyID" />
                <div class="mb-3">
                    <label class="form-label">Model</label>
                    <input asp-for="Model" type="text" class="form-control" placeholder="Toyota">
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">License-Plate</label>
                    <input asp-for="LicensePlate" type="text" class="form-control" placeholder="ABC-123">
                    <span asp-validation-for="LicensePlate" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>
