@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TruckVM

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <span>@TempData["Error"]</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
}

<div class="col-xl">
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Update truck</h5>
        </div>
        <div class="card-body">
            <form asp-controller="Truck" asp-action="Update">
                <div class="mb-3">
                    <label class="form-label">Model</label>
                    <input asp-for="Model" type="text" class="form-control" placeholder="Toyota">
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">License-Plate</label>
                    <input asp-for="LicensePlate" type="text" class="form-control" placeholder="ABC-123">
                    <span asp-validation-for="LicensePlate" class="text-danger"></span>
                </div>
                @*                <div class="mb-3">
                <label class="form-label" for="basic-default-company">Type</label>
                <select asp-for="DriverName" asp-items="" class="form-control form-control-lg">
                <option>--Select--</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
                </div>*@

                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>
