@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <span>@TempData["Success"]</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <span>@TempData["Error"]</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
}