@model RestockState

@switch (Model)
{
    case RestockState.NeedAccept:
        <span class="badge bg-label-warning me-1">@Model</span>
        break;
    case RestockState.ReadyToRestock:
        <span class="badge bg-label-info me-1">@Model</span>
        break;
    case RestockState.Restocked:
        <span class="badge bg-label-success me-1">@Model</span>
        break;
    case RestockState.Canceled:
        <span class="badge bg-lable-danger me-1">@Model</span>
        break;
    default:
        break;
}


